{% extends 'base.html.twig' %}

{% block title %}Hello RendezVousController!{% endblock %}

{% block body %}
{{ form_start(form)}}
{{ form_widget(form)}}

<button type="submit" class="btn"></button>

{{ form_end(form)}}
{% endblock %}
